<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-10">
          <table class="table-striped">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Channel</th>
                      <th>Seasons</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let serie of series">
                  <td>{{serie.id}}</td>
                  <td class="show-card">{{serie.name}}</td>
                  <td>{{serie.channel}}</td>
                  <td>{{serie.seasons}}</td>
                </tr>
              </tbody>
          </table>
          <p>El promedio de temporadas de todas las series es {{avg}}</p>
      </div>
  </div>
</div>